[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/jsoncodecs.vim"]
	path = bundle/jsoncodecs.vim
	url = https://github.com/michalliu/jsoncodecs.vim.git
[submodule "bundle/jsruntime.vim"]
	path = bundle/jsruntime.vim
	url = https://github.com/michalliu/jsruntime.vim.git
[submodule "bundle/sourcebeautify.vim"]
	path = bundle/sourcebeautify.vim
	url = https://github.com/michalliu/sourcebeautify.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = https://github.com/othree/xml.vim.git
[submodule "bundle/vCoolor"]
	path = bundle/vCoolor
	url = https://github.com/KabbAmine/vCoolor.vim.git
